<div id="login-form-wrapper">
<div class="logincontrol_formwrapper">
    <%= form_for @welcome, :url => welcome_index_path, html: {class: "logincontrol_loginform"}  do |f| %>


<div class="logincontrol_row">
    <div class="logincontrol_column6 logincontrol_alignright">
        <div class="vert-center-parent">
            <div class="vert-center-child">
                <label id="logincontrol_usernamelabel" class="logincontrol_label" for="username"><span class="login_nowrap">Username</span> / <span class="login_nowrap">Email</span></label>
            </div>
        </div>
    </div><div class="logincontrol_column6">
      <%= f.text_field :username, class: "logincontrol_textinput"  %>
    </div>
</div>
<div class="logincontrol_row">
    <div class="logincontrol_column6 logincontrol_alignright">
        <div class="vert-center-parent">
            <div class="vert-center-child">
                <label id="logincontrol_passwordlabel" class="logincontrol_label" for="password">Password</label>
            </div>
        </div>
    </div><div class="logincontrol_column6">
          <%= f.password_field :password, class: "logincontrol_textinput"  %>
    </div>
</div>

<input name="sid" id="sid" type="hidden" value="bdcnbudlrcci42vwiryfmayg" />


<div class="logincontrol_row">
    <div class="logincontrol_column12">
        <%= f.submit "Login", class: "logincontrol_button" %>

    </div>
</div>


  <% end %>
</div>
